@import "variables";

@include font-face("Poppins", $fontsPath + "Poppins/Poppins-Light", 300);
@include font-face("Poppins", $fontsPath + "Poppins/Poppins-Regular", 300);
@include font-face("Poppins", $fontsPath + "Poppins/Poppins-Medium", 500);
@include font-face("Poppins", $fontsPath + "Poppins/Poppins-SemiBold", 600);
@include font-face("Poppins", $fontsPath + "Poppins/Poppins-Bold", 700);

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
          url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sp93en') format('truetype'),
          url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sp93en') format('woff'),
          url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?sp93en##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %icon-font;
}

.icon-chair-cafe {
  &:before {
    content: $icon-chair-cafe;
  }
}
.icon-delivery {
  &:before {
    content: $icon-delivery;
  }
}
.icon-discount {
  &:before {
    content: $icon-discount;
  }
}
.icon-discount2 {
  &:before {
    content: $icon-discount2;
  }
}
.icon-plane {
  &:before {
    content: $icon-plane;
  }
}
.icon-medal {
  &:before {
    content: $icon-medal;
  }
}
.icon-table {
  &:before {
    content: $icon-table;
  }
}
.icon-icon-1-1 {
  &:before {
    content: $icon-icon-1-1;
  }
}
.icon-Icon-2 {
  &:before {
    content: $icon-Icon-2;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-down-bold {
  &:before {
    content: $icon-chevron-down-bold;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-sides-arrows {
  &:before {
    content: $icon-sides-arrows;
  }
}
.icon-basket {
  &:before {
    content: $icon-basket;
  }
}
.icon-consult {
  &:before {
    content: $icon-consult;
  }
}
.icon-award {
  &:before {
    content: $icon-award;
  }
}

.fw-500 {
  font-weight: 500;
}