@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin transition($transition-property, $transition-time) {
  -webkit-transition: $transition-property $transition-time;
  -moz-transition: $transition-property $transition-time;
  -ms-transition: $transition-property $transition-time;
  -o-transition: $transition-property $transition-time;
  transition: $transition-property $transition-time;
}

@mixin user-select($value) {
  user-select: $value;
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin nonselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder          {
    @content;
  }
  &:-moz-placeholder           {
    @content;
  }
  &:-ms-input-placeholder      {
    @content;
  }
}

@mixin ie-fix {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
@mixin moz-fix {
  @supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
    @content;
  }
}

@function sq($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}

@mixin triangle($width) {

  $width-from-hypotenuse: round($width/sq(2) * 10) / 10;

  content: "";
  width: rem($width-from-hypotenuse);
  height: rem($width-from-hypotenuse);
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  border: 1px solid currentColor;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}
@mixin triangle-full($height, $width: $height) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: #{$height / 2}px 0 #{$height / 2}px #{$width}px;
  border-color: transparent transparent transparent $gray;
}

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    width: 0 !important
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}