$brown:              #946537;
$brown-hover:        #947352; // TODO: need hover color
$gray:               #515151;
$gray-light:         #F8F8F8;
$red:                #F8F8F8;
$black:              #26272C;
$black2:             #2F3035;
$blue:               #69A3D9;
$blue-dark:          #359EFF;
$white:              #ffffff;
$orange:             #FBB734;
$orange-dark:        #FFBA35;

$gradient-blue:      linear-gradient(180deg, $blue 0%, rgba($blue-dark, 0.52) 87.77%);
$gradient-yellow:    linear-gradient(180deg, $orange 0%, rgba($orange-dark, 0.52) 115%);
$gradient-radial:    radial-gradient(50% 50% at 50% 50%, $black2 0%, $black 100%);

$overlay:            rgba($black, 0.8);

$main-color:         $brown;
$text-color:         $gray;