$fontsPath: '../fonts';

$font-poppins: 'Poppins', sans-serif;

$font-main: $font-poppins;
$font-btn: $font-main;

$icomoon-font-family: "icons" !default;
$icomoon-font-path: "#{$fontsPath}/icons" !default;

$icon-chair-cafe: "\e900";
$icon-delivery: "\e901";
$icon-discount: "\e902";
$icon-discount2: "\e903";
$icon-plane: "\e904";
$icon-medal: "\e905";
$icon-table: "\e906";
$icon-icon-1-1: "\e907";
$icon-Icon-2: "\e908";
$icon-arrow-right: "\e909";
$icon-search: "\e90a";
$icon-mail: "\e90b";
$icon-cross: "\e90c";
$icon-chevron-right: "\e90d";
$icon-chevron-down-bold: "\e90e";
$icon-phone: "\e90f";
$icon-sides-arrows: "\e910";
$icon-basket: "\e911";
$icon-consult: "\e912";
$icon-award: "\e913";