@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ynaao0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ynaao0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ynaao0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ynaao0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ynaao0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chair-cafe {
  &:before {
    content: $icon-chair-cafe; 
  }
}
.icon-delivery {
  &:before {
    content: $icon-delivery; 
  }
}
.icon-discount {
  &:before {
    content: $icon-discount; 
  }
}
.icon-discount2 {
  &:before {
    content: $icon-discount2; 
  }
}
.icon-plane {
  &:before {
    content: $icon-plane; 
  }
}
.icon-medal {
  &:before {
    content: $icon-medal; 
  }
}
.icon-table {
  &:before {
    content: $icon-table; 
  }
}
.icon-icon-1-1 {
  &:before {
    content: $icon-icon-1-1; 
  }
}
.icon-Icon-2 {
  &:before {
    content: $icon-Icon-2; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-down-bold {
  &:before {
    content: $icon-chevron-down-bold; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-sides-arrows {
  &:before {
    content: $icon-sides-arrows; 
  }
}
.icon-basket {
  &:before {
    content: $icon-basket; 
  }
}
.icon-consult {
  &:before {
    content: $icon-consult; 
  }
}
.icon-award {
  &:before {
    content: $icon-award; 
  }
}

