@keyframes pulse-once {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bottles-up {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes liverbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  33.3% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  49.95% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  66.6% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}