.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(13);
  line-height: 1;
  font-weight: 500;
  color: $white;
  font-family: $font-btn;
  height: rem(32);
  border-radius: rem(4);
  padding: rem(0 8);
  background-color: $main-color;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: .167s transform, .113s background-color, .12s color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover {
    background-color: $brown-hover;
    color: $white;
  }
  &.disabled, &:disabled {
    background-color: $gray-light !important;
    pointer-events: none;
    &.btn_ghost {
      background: none !important;
      color: $gray-light !important;
    }
  }
}