/* Border-Box */
*,
*:before,
*:after {
  box-sizing: inherit;
}
*, *:focus, *:active {
  outline: none !important;
}
html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
html,
body {
  height: 100%;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: vwcalc(16, 375);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include tablet {
    font-size: vwcalc(16, 768);
  }
  @include desktop {
    font-size: vwcalc(16);
  }
  @include desktop-1600 {
    font-size: 14.2px;
  }
  @include desktop-large {
    //font-size: 16px;
  }
  @include print {
    //font-size: 12px !important;
  }
}
body {
  margin: 0;
  line-height: 1.25;
  font-family: $font-main;
  color: $text-color;
  background-color: $white;
  @extend %text-base;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: normal;
  color: inherit;
  margin: 0;
}

h1, .h1 {
  font-size: rem(48);
  line-height: (72 / 48);
  @include tablet {
    font-size: rem(48);
  }
  @include desktop {
    font-size: rem(48);
  }
}
h2, .h2 {
  font-size: rem(17);
  line-height: (23 / 17);
  @include desktop {
    font-size: rem(28);
    line-height: (42 / 28);
  }
}
h3, .h3 {
  font-size: rem(24);
  line-height: (36 / 24);
  @include tablet {
    font-size: rem(24);
  }
  @include desktop {
    font-size: rem(24);
  }
}
h4, .h4 {
  font-size: rem(20);
  line-height: (30 / 20);
  @include tablet {
    font-size: rem(20);
  }
  @include desktop {
    font-size: rem(20);
  }
}
h5, .h5 {
  font-size: rem(16);
  line-height: (24 / 16);
  font-weight: 500;
  @include tablet {
    font-size: rem(16);
  }
  @include desktop {
    font-size: rem(16);
  }
}

.text-sm {
  @extend #text-sm;
}

b,
strong {
  font-weight: bold;
}
ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: $text-color;
  text-decoration: none;
}
a:hover {
  color: lighten($text-color, 15%);
  text-decoration: none;
}
textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

/* Force Simple Scrollbars */
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 135, 139, 0.8);
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
select::-ms-expand {
  display: none;
}