%icon-font {
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
}

%page-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: rem($wrapper);
  padding: rem(0 15);
  @include tablet {
    padding: rem(0 $wrapper-indent);
  }
}

%unbutton {
  padding: 0;
  border: none;
  background: none;
}

%overlay-bg {
  background-color: $overlay;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
}

%loader {
  font-size: rem(10);
  position: relative;
  text-indent: -9999em;
  border: 8px solid transparentize($main-color, .5);
  border-left: 8px solid $main-color;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  display: block;
  &:after, & {
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }
  @keyframes load8 {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
}

%text-base {
  font-size: rem(13);
  line-height: (21 / 13);
  font-weight: 400;
  @include tablet {
    font-size: rem(14);
    line-height: (21 / 14);
  }
}

%text-sm {
  font-size: rem(13);
  line-height: (20 / 13);
  font-weight: 400;
}