br {
  &.xs, &.md {

  }
  &.md {
    @include desktop {
      display: none;
    }
  }
  &.xs {

  }
  &.lg {
    display: none;
    @include desktop {
      display: block;
    }
  }
  &.lg-md {

  }
  &.lg-md-xs {

  }
  &.visible {

  }
}

.hidden-lg {
  @include desktop {
    display: none;
  }
}
.visible-lg {
  display: none;
  @include desktop {
    display: block;
  }
}
.visible-lg-inline {
  display: none;
  @include desktop {
    display: inline;
  }
}
.hidden-md {
  display: none;
  @include desktop {
    display: block;
  }
}
.visible-md {
  display: block;
  @include desktop {
    display: none;
  }
}
.hidden-xs {
  @include mobile-only {
    display: none;
  }
}