.page-wrapper {
  @extend %page-wrapper;
}
.page-main {
  position: relative;
  //z-index: 0;
  .header-fixed:not(.cms-subscription-preferences-custom) & {
    margin-top: rem(123);
    @include tablet {
      margin-top: rem(98);
    }
    @include desktop {
      margin-top: rem(210);
    }
  }
  .filter-toggle-fixed & {
    @include mobile-only {
      margin-top: rem(183);
    }
  }
}
.page-container {
  overflow: hidden;
  @include desktop {
    .blog-gyo-article & {
      overflow: initial;
    }
  }
}